.container {
    max-width: 960px;
}

.lh-condensed {
    line-height: 1.25;
}
.input-group-append {
    cursor: pointer;
}
/* HTML: <div class="loader"></div> */
.loader {
    width: fit-content;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 10vmin;
    
    padding-bottom: 8px;
    background: linear-gradient(currentColor 0 0) 0 100%/0% 3px no-repeat;
    animation: l2 2s linear infinite;
  }
  .loader:before {
    content:"Loading..."
  }
  @keyframes l2 {to{background-size: 100% 3px}}
.img-100{
	width: 100%;
	aspect-ratio: 16/9;
	/* 額外確保圖片縮放時會有最好的效果 */
}