html {
    overflow: scroll;
    scroll-behavior: smooth;
}
.content-wrap {
    max-width: 1250px;
    width: 100%;
    box-sizing: border-box;
    padding: 50px 25px 1px 25px;
    margin: 0 auto;
    z-index: 50;
  }