html {
    overflow: scroll;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 0;
    /* Remove scrollbar space */
    background: transparent;
    /* Optional: just make scrollbar invisible */
}

.content-bg {
    width: 100%;

    background: rgba(255, 255, 255, 0.8);
}

.nav-wrap {
    max-width: 1250px;
    width: 100%;
}

.content-wrap {
    max-width: 1600px;
    width: 100%;
}

body {
    background-color: skyblue !important;
}

.space-wrap {
    padding: 10% 20% 10% 20%;
    height: 100lvh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.cart-number-label {

    left: 25px;
    top: 5px;
    background: #ee4054;
    border-bottom: 2px solid #c04054;
    width: 24px;
    height: 22px;
    font-size: 12px;
    line-height: 22px;
    display: block;
    text-align: center;
    color: #fff;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
}



/*selection*/

ul.selection-wrap {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 -1.5% -3% -1.5%;
    align-items: center;
}

ul.selection-wrap li {
    flex-basis: 50%;
    padding: 0 1.5%;
    margin-bottom: 3%;
    box-sizing: border-box;
    cursor: pointer;

    :hover {
        opacity: 0.7;
    }
}

ul.selection-wrap .smail_li {
    flex-basis: 15vw;

}

ul.selection-wrap li .selection {
    background: #fff;

    border: 5px solid #5e0200;

    border-radius: 7px;

    box-sizing: border-box;

}

ul.selection-wrap li .selection svg {
    width: 14vw;
    height: 14vw;

}

ul.selection-wrap li .selection svg:hover,
ul.selection-wrap li .selection path:hover,
ul.selection-wrap li .selection h3:hover,
ul.selection-wrap li .selection figure {
    opacity: 1;
}

ul.selection-wrap li .selection figure {
    margin: 5px;

}

ul.selection-wrap li .selection h3 {
    text-align: center;
    padding: 0.5em;
}

h3 {
    font-size: 2.3vw !important;
    text-align: center;
}

.search-bar {
    width: 33vw !important;
    transition: width 0.3s ease-in-out;

}

.search-bar .search-box {
    position: absolute;
    top: 3px;
    right: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    width: 32px;
    height: 32px;
    border: none;
    border-radius: 6px;
    /*     color: var(--text1); */
    line-height: 32px;
    cursor: pointer;
    transition: background-color .3s;

}

.search-box:hover {
    background-color: rgb(211, 211, 211);
}

footer {
    text-align: center;

    padding: 30px;

    background: skyblue;

    color: #000;
}

footer ul.sns {
    list-style: none;

    display: flex;

    flex-wrap: wrap;

    justify-content: center;

    margin-bottom: 1em;
}

footer ul.sns li {
    width: 40px;

    margin: 0 5px;
}

footer ul.sns li img {
    width: 100%;
}

@media (max-width: 992px) {
    .search-bar {
        width: 100vw !important;
    }
}

.cursor-pointer {
    cursor: pointer;
}

/*phone*/

@media only screen and (max-width: 600px) {
    ul.selection-wrap {
        padding: 10% 0% 0% 0%;
    }

    ul.selection-wrap li .selection svg {
        width: 39vw;
        height: 39vw;
    }

    ul.selection-wrap .smail_li {
        flex-basis: 40vw;
    }

    h3 {
        font-size: 3.9vw !important;

    }
}